.version.__minecraftsinavikrediler_ /* version checker */
{
	color: #000011;
	background-color: #3023A2;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 273px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u8873
{
	z-index: 9;
	width: 204px;
	min-height: 102px;
	margin-right: -10000px;
	margin-top: 120px;
	left: -4818px;
}

#u8877
{
	z-index: 10;
	width: 202px;
	min-height: 101px;
	margin-right: -10000px;
	margin-top: 120px;
	left: -4588px;
}

#u8904
{
	z-index: 11;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 121px;
	left: -1282px;
}

#u9392
{
	z-index: 14;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: -80px;
	left: 20px;
}

#pu8906
{
	width: 0.01px;
	margin: 338px -10000px -132px -1266px;
}

#u8906
{
	z-index: 12;
	width: 202px;
	min-height: 101px;
	margin-right: -10000px;
}

#u8908
{
	z-index: 13;
	width: 204px;
	min-height: 102px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 66px;
}

#u7875-5
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 251px;
	left: 20px;
}

#u8859
{
	z-index: 8;
	width: 167px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 238px;
	left: 339px;
}

#u8859:hover
{
	width: 167px;
	height: 52px;
	min-height: 0px;
	margin: 238px -10000px 0px 0px;
}

#u8859.MuseLinkActive
{
	width: 167px;
	height: 52px;
	min-height: 0px;
	margin: 238px -10000px 0px 0px;
}

#u8374
{
	z-index: 7;
	width: 127px;
	height: 72px;
	margin-right: -10000px;
	margin-top: 228px;
	left: 813px;
}

#u8374:hover
{
	width: 127px;
	height: 72px;
	min-height: 0px;
	margin: 228px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -228px;
}

