.version.level6_serialnumberdar6f6agyuajgy /* version checker */
{
	color: #0000E9;
	background-color: #C03251;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 273px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u8873
{
	z-index: 9;
	width: 204px;
	min-height: 102px;
	margin-right: -10000px;
	margin-top: 120px;
	left: -4818px;
}

#u8877
{
	z-index: 10;
	width: 202px;
	min-height: 101px;
	margin-right: -10000px;
	margin-top: 120px;
	left: -4588px;
}

#u8904
{
	z-index: 11;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 121px;
	left: -1282px;
}

#pu9392
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -80px;
}

#u9392
{
	z-index: 14;
	width: 200px;
	min-height: 100px;
	margin-left: 20px;
}

#pu11127
{
	width: 0.01px;
}

#u11127
{
	z-index: 15;
	width: 960px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u11133
{
	z-index: 17;
	width: 359px;
	height: 106px;
	position: relative;
	margin-right: -10000px;
	margin-top: 541px;
	left: 301px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-yeniden%20dene.png") no-repeat left top;
	background-size: contain;
}

#u11133:hover
{
	width: 359px;
	height: 106px;
	min-height: 0px;
	margin: 541px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-yeniden%20dene%20kopya.png") no-repeat left top;
	background-size: contain;
}

#u11133:active
{
	width: 359px;
	height: 106px;
	min-height: 0px;
	margin: 541px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-yeniden%20dene%20kopya%202.png") no-repeat left top;
	background-size: contain;
}

#u11134
{
	z-index: 18;
	width: 103px;
	height: 112px;
	position: relative;
	margin-right: -10000px;
	margin-top: 538px;
	left: 61px;
	background: transparent url("../images/hediye%20buton.png") no-repeat left top;
	background-size: contain;
}

#u11134:hover
{
	width: 103px;
	height: 112px;
	min-height: 0px;
	margin: 538px -10000px 0px 0px;
	background: transparent url("../images/hediye%20buton-katman%202%20kopya%202.png") no-repeat left top;
	background-size: contain;
}

#u11134:active
{
	width: 103px;
	height: 112px;
	min-height: 0px;
	margin: 538px -10000px 0px 0px;
	background: transparent url("../images/hediye%20buton-katman%202%20kopya.png") no-repeat left top;
	background-size: contain;
}

#u11135
{
	z-index: 19;
	width: 152px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 622px;
}

#u11137
{
	z-index: 21;
	width: 83px;
	height: 62px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 200px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20ok%20buton-u7855-fr.png") no-repeat left top;
	background-size: contain;
}

#u11137:hover
{
	width: 83px;
	height: 62px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20ok%20buton-u7855-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u11137:active
{
	width: 83px;
	height: 62px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20ok%20buton-u7855-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u11138
{
	z-index: 22;
	width: 162px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u11140-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 761px;
}

#u11141-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 554px;
}

#u11142
{
	z-index: 32;
	width: 85px;
	height: 82px;
	position: relative;
	margin-right: -10000px;
	margin-top: 553px;
	left: 653px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20facebook%20button-katman%201%20kopya%204.png") no-repeat left top;
	background-size: contain;
}

#u11142:hover
{
	width: 85px;
	height: 82px;
	min-height: 0px;
	margin: 553px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20facebook%20button-katman%201%20kopya%203.png") no-repeat left top;
	background-size: contain;
}

#u11143
{
	z-index: 33;
	width: 90px;
	height: 82px;
	position: relative;
	margin-right: -10000px;
	margin-top: 553px;
	left: 735px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20twitter%20button-katman%201%20kopya%202.png") no-repeat left top;
	background-size: contain;
}

#u11143:hover
{
	width: 90px;
	height: 82px;
	min-height: 0px;
	margin: 553px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20twitter%20button-katman%201%20kopya.png") no-repeat left top;
	background-size: contain;
}

#u11144
{
	z-index: 34;
	width: 87px;
	height: 82px;
	position: relative;
	margin-right: -10000px;
	margin-top: 553px;
	left: 822px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20google-%20button-katman%201%20kopya%202.png") no-repeat left top;
	background-size: contain;
}

#u11144:hover
{
	width: 87px;
	height: 82px;
	min-height: 0px;
	margin: 553px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20google-%20button-katman%201%20kopya.png") no-repeat left top;
	background-size: contain;
}

#pu8906
{
	width: 0.01px;
	margin: 839px -10000px -132px -1266px;
}

#u8906
{
	z-index: 12;
	width: 202px;
	min-height: 101px;
	margin-right: -10000px;
}

#u8908
{
	z-index: 13;
	width: 204px;
	min-height: 102px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 66px;
}

#u7875-5
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 752px;
	left: 20px;
}

#u8859
{
	z-index: 8;
	width: 167px;
	height: 52px;
	margin-right: -10000px;
	margin-top: 739px;
	left: 339px;
}

#u8859:hover
{
	width: 167px;
	height: 52px;
	min-height: 0px;
	margin: 739px -10000px 0px 0px;
}

#u8859.MuseLinkActive
{
	width: 167px;
	height: 52px;
	min-height: 0px;
	margin: 739px -10000px 0px 0px;
}

#u8374
{
	z-index: 7;
	width: 127px;
	height: 72px;
	margin-right: -10000px;
	margin-top: 729px;
	left: 813px;
}

#u8374:hover
{
	width: 127px;
	height: 72px;
	min-height: 0px;
	margin: 729px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -729px;
}

