#u7782
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7522
{
	position: relative;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-fr.png") no-repeat left top;
	background-size: contain;
}

#u7522:hover
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u7522:active
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u7522.MuseLinkActive
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u7469,#u7901,#u8618
{
	background-color: transparent;
	position: relative;
}

#u8624-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

