#u9491,#u9493,#u9495
{
	background-color: transparent;
	position: relative;
}

#u9497-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u9501
{
	position: relative;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-fr.png") no-repeat left top;
	background-size: contain;
}

#u9501:hover
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u9501:active
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u9501.MuseLinkActive
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-m-fr.png") no-repeat left top;
	background-size: contain;
}

