#u10091,#u10095,#u10097
{
	background-color: transparent;
	position: relative;
}

#u10099-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u10100
{
	position: relative;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-fr.png") no-repeat left top;
	background-size: contain;
}

#u10100:hover
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u10100:active
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u10100.MuseLinkActive
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-m-fr.png") no-repeat left top;
	background-size: contain;
}

