#u9061
{
	position: relative;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-fr.png") no-repeat left top;
	background-size: contain;
}

#u9061:hover
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u9061:active
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u9061.MuseLinkActive
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u9057,#u9059,#u9062
{
	background-color: transparent;
	position: relative;
}

#u9064-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

