#u8480
{
	position: relative;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-fr.png") no-repeat left top;
	background-size: contain;
}

#u8480:hover
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u8480:active
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u8480.MuseLinkActive
{
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20yeniden%20dene%20buton-u7522-m-fr.png") no-repeat left top;
	background-size: contain;
}

#u8476,#u8478,#u8621
{
	background-color: transparent;
	position: relative;
}

#u8625-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

