.version.minecraft_s_nav__question1serialnumber1365455axax12 /* version checker */
{
	color: #000018;
	background-color: #D44661;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 273px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u8873
{
	z-index: 9;
	width: 204px;
	min-height: 102px;
	margin-right: -10000px;
	margin-top: 120px;
	left: -4818px;
}

#u8877
{
	z-index: 10;
	width: 202px;
	min-height: 101px;
	margin-right: -10000px;
	margin-top: 120px;
	left: -4588px;
}

#u8904
{
	z-index: 11;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	margin-top: 121px;
	left: -1282px;
}

#u7780
{
	z-index: 19;
	width: 202px;
	min-height: 101px;
	margin-right: -10000px;
	margin-top: 234px;
	left: -603px;
}

#pu9392
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -80px;
	margin-left: 1px;
}

#u9392
{
	z-index: 14;
	width: 200px;
	min-height: 100px;
	margin-right: -10000px;
	left: 19px;
}

#u7369
{
	z-index: 15;
	width: 852px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 53px;
}

#u7321
{
	z-index: 17;
	width: 960px;
	margin-right: -10000px;
	margin-top: 80px;
}

#u7832
{
	z-index: 20;
	width: 152px;
	margin-right: -10000px;
	margin-top: 87px;
	left: 621px;
}

#u7855
{
	z-index: 22;
	width: 83px;
	height: 62px;
	margin-right: -10000px;
	margin-top: 88px;
	left: 199px;
}

#u7855:hover
{
	width: 83px;
	height: 62px;
	min-height: 0px;
	margin: 88px -10000px 0px 0px;
}

#u7855:active
{
	width: 83px;
	height: 62px;
	min-height: 0px;
	margin: 88px -10000px 0px 0px;
}

#u7855.MuseLinkActive
{
	width: 83px;
	height: 62px;
	min-height: 0px;
	margin: 88px -10000px 0px 0px;
}

#u8548
{
	z-index: 23;
	width: 162px;
	margin-right: -10000px;
	margin-top: 84px;
	left: 389px;
}

#u8753
{
	z-index: 25;
	width: 374px;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 688px;
	left: 557px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20cevap%20buton.png") no-repeat left top;
	background-size: contain;
}

#u8753:hover
{
	width: 374px;
	min-height: 0px;
	margin: 688px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20cevap%20buton-katman%202.png") no-repeat left top;
	background-size: contain;
}

#u7422-6
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 139px;
}

#u8754
{
	z-index: 26;
	width: 374px;
	padding-bottom: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 688px;
	left: 29px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20cevap%20buton.png") no-repeat left top;
	background-size: contain;
}

#u8754:hover
{
	width: 374px;
	min-height: 0px;
	margin: 688px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20cevap%20buton-katman%202.png") no-repeat left top;
	background-size: contain;
}

#u8753:active,#u8754:active
{
	width: 374px;
	min-height: 0px;
	margin: 688px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20cevap%20buton-katman%200.png") no-repeat left top;
	background-size: contain;
}

#u7420-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 117px;
}

#u8755
{
	z-index: 27;
	width: 374px;
	padding-bottom: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 583px;
	left: 557px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20cevap%20buton.png") no-repeat left top;
	background-size: contain;
}

#u8755:hover
{
	width: 374px;
	min-height: 0px;
	margin: 583px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20cevap%20buton-katman%202.png") no-repeat left top;
	background-size: contain;
}

#u7421-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 177px;
}

#u8756
{
	z-index: 28;
	width: 374px;
	padding-bottom: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 583px;
	left: 29px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20cevap%20buton.png") no-repeat left top;
	background-size: contain;
}

#u8756:hover
{
	width: 374px;
	min-height: 0px;
	margin: 583px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20cevap%20buton-katman%202.png") no-repeat left top;
	background-size: contain;
}

#u8755:active,#u8756:active
{
	width: 374px;
	min-height: 0px;
	margin: 583px -10000px 0px 0px;
	background: transparent url("../images/minecraft%20s%c4%b1nav%c4%b1%20cevap%20buton-katman%200.png") no-repeat left top;
	background-size: contain;
}

#u7419-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 130px;
}

#u7386
{
	z-index: 29;
	width: 176px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 391px;
}

#u7393-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 528px;
	left: 57px;
}

#u7838-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 771px;
}

#u8555-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 547px;
}

#pu8906
{
	width: 0.01px;
	margin: 832px -10000px -205px -1266px;
}

#u8906
{
	z-index: 12;
	width: 202px;
	min-height: 101px;
	margin-right: -10000px;
}

#u8908
{
	z-index: 13;
	width: 204px;
	min-height: 102px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 66px;
}

#u7875-5
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 745px;
	left: 20px;
}

#u8859
{
	z-index: 8;
	width: 167px;
	height: 52px;
	margin-bottom: -9px;
	margin-right: -10000px;
	margin-top: 732px;
	left: 339px;
}

#u8859:hover
{
	width: 167px;
	height: 52px;
	min-height: 0px;
	margin: 732px -10000px -9px 0px;
}

#u8859.MuseLinkActive
{
	width: 167px;
	height: 52px;
	min-height: 0px;
	margin: 732px -10000px -9px 0px;
}

#u8374
{
	z-index: 7;
	width: 127px;
	height: 72px;
	margin-bottom: -19px;
	margin-right: -10000px;
	margin-top: 722px;
	left: 813px;
}

#u8374:hover
{
	width: 127px;
	height: 72px;
	min-height: 0px;
	margin: 722px -10000px -19px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 2px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -722px;
}

